@font-face {
    font-family: "xique";
    src: url("../assets/font/xique.ttf") format("truetype");
}
body {
    font-family: "xique",sans-serif;
}

#main {
    width: 1650px;
    height: 920px;
    /* background-color: bisque; */
    margin: 0 auto;
}

#title {
    height: 150px;
    width: 100%;
    /* background-color: aquamarine; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maintitle {
    font-size: 30px;
    display: inline-block;
    max-width: 80%; /* 根据需要设置适当的宽度限制 */
}

#maintitle::before,
#maintitle::after {
    position:absolute;
    top: 90px;
    content: "";
    width: 550px;
    height: 0px;
    /* background-color: #000; */
    border-top:1px black dashed;
}
#maintitle::after{
    left: 80px;
}
#maintitle::before{
    right: 80px;
}

#subtitle {
    font-size: 18px;
    display: inline-block;
    max-width: 80%; /* 根据需要设置适当的宽度限制 */
}

#menu {
    display: flex;
    justify-content: space-around;
}

#left,
#right {
    height: 700px;
    width: 700px;
    /* background-color: burlywood; */
}

.block {
    width: 700px;
    border-bottom:1px black dashed;
}

#block1 {
    height: 110px;
    /* background-color: darkgray; */

}

#block2 {
    height: 200px;
    /* background-color: blueviolet; */
}

#block3 {
    height: 200px;
    /* background-color: brown; */
}


#block4 {
    margin-top: 60px;
    height: 170px;
    /* background-color: darkgray; */
}

#block5 {
    height: 200px;
    margin-top: 20px;
    /* background-color: blueviolet; */
}


.item {
    margin: 20px;
}

.item_content {
    display: flex;
    justify-content: space-between;
}

.item_content .box {
    width: 100px;
    height: 50px;

    display: flex;
    align-items: center;
}
input {
    width: 40px;
    height: 40px;
}
.item_title {
    font-size: 30px;
}

#info{
    margin-top: 70px;
    width: 700px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}